<div {{ attributes }}>
    Prop1: {{ this.prop1 }}
    Prop2: {{ this.prop2 }}
    Prop3: {{ this.prop3 }}
    Prop4: {{ this.prop4 }}
    Prop5: {{ this.prop5 }}
    ComputedProp: {{ computed.computedProp }}
</div>